Eduflash/virtual_env/*
EduFlash/EduFlash/__pycache__/*
EduFlash/flash/__pycache__/*
EduFlash/flash/migrations/__pycache__/*
EduFlash/media/files/*
*.pyc
*/*__pycache__
Eduflash/start.sql
*media/*
EduFlash/flash/migrations/*