:root {
    --background-color:#FAFAFA;
    --text-color: #0A2647;
    --decor: #1E56A0;
    --light: #D6E4F0;
  }
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Unna", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
    text-wrap: wrap;
    word-wrap: break-word;
  }

  .header{
    background-color: var(--light);
    height: 200px;
    border-radius: 10px;
  }

  .nav{
    height: 100px;
    margin-left: 20px;
    padding: 10px;
  }
  .nav h1{
    position: absolute;
    font-size: 3.5rem;
    margin: 0;
    /* margin: 0; */
  }

  .links{
    position: absolute;
    right: 20px;
    top: 40px;
    padding: 10px;
  }

  .links a{
    color: var(--text-color);
    padding: 5px;
    text-decoration: none;
  }
  .links a:hover{
    opacity: 0.7;
    background-color: var(--text-color);
    border-radius: 10px;
    color: var(--background-color);
  }
.links a:active{
  opacity: 1;
  background-color: var(--text-color);
  border-radius: 10px;
  color: var(--background-color);
}

  .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 20px;
    height: 180px;
    width: 180px;
    background-color: var(--background-color);
  }

  .circle div{
    height: fit-content;
    width: fit-content;
    line-height: 0;
  }

  .content{
    min-height: 200px;
    border: 1px solid var(--text-color);
    width: calc(100% - 250px);
    margin-left: 210px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
  #con_p{
    margin-top: 50px;
  }

  .solid_links{
    text-decoration: none;
    color: var(--light);
    background-color: var(--text-color);
    border-radius: 10px;
    padding: 7px;
  }

  .solid_links:hover{
    opacity: 0.6;
  }

  .nav_menu{
    display: none;
    background-color: inherit;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    /* margin-bottom: 30px; */
    height: 50px;
    width: 50px;
    padding: 5px;
  }
  .nav_line{
    border-bottom: 2px solid var(--text-color);
    width: 30px;
    border-radius: 1px;
  }

  .nav_ul{
    list-style: none;
    padding: 0;
  }
  .nav_li{
    color: var(--text-color);
    display: inline-block;
    padding: 5px;
    text-decoration: none;
  }

  @media (max-width: 750px) {
    html {
     
      font-size: 1.25rem;
    }
    .nav h1{
      font-size: 2.5rem;
    }

    .content{
      min-height: 500px;
      width: 80%;
      padding: 20px;
      margin: 110px auto 110px;
      border-style: none;
      border-top: 1px solid #0A2647;
      border-left: 1px solid #0a2647;

    }
    #con_p{
      min-height: 150px;
      padding-top: 50px;
      border-bottom: 1px solid var(--text-color);
      border-right: 1px solid var(--text-color);
    }

    .view{
      padding: 20px 0;
      margin-top: 100px;
    }
    .view h4{
      margin-top: 0;
    }
    .nav_menu{
      display: block;
      position: relative;
      float: right;
      margin-right: 5px;
      margin-top: 15px 
    }

    .nav_ul{
      list-style: none;
      min-width: 150px;
      border-radius: 10px;
      width: 40vw;
      background-color: var(--background-color);
      margin-top: 50px;
    }
    .nav_li{
      color: var(--text-color);
      display: block;
      padding: 5px;
      text-decoration: none;
      width: 100%;
    }
    
    .hide{
      display: none;
    }
  }

  footer{
    width: 99%;
    position: fixed;
    bottom: 0;
    text-align: center;
    line-height: 20px;
    margin-top: 50px;
    background-color: var(--light);
    margin: auto;
  }
  
