<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almendra+Display&family=Butterfly+Kids&family=Cabin:ital@0;1&family=Itim&family=Kanit&family=Montserrat:wght@500&family=Open+Sans&family=Sacramento&family=Suravaram&family=Unna:ital@0;1&family=Zen+Loop&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'flash/main_.css' %}">
    <link rel="stylesheet" href="{% static 'flash/resources.css' %}">
    <link rel="stylesheet" href="{% static 'flash/uploadd.css' %}">
    <link rel="stylesheet" href="{% static 'flash/about.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'flash/favicon (3).ico' %}">
    <link rel="stylesheet" href="{% static 'flash/flashcard.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'flash/script__.js' %}"></script>
    <title>Eduflash</title>
    
    
</head>
<body>
    <header>
        <div class="header">
            <div class="nav">
                <h1>EDUFLASH</h1>
                <button class="nav_menu" type="button" onclick="hide()">
                    <hr class="nav_line">
                    <hr class="nav_line">
                    <hr class="nav_line">
                </button>
                <div id="a" class="links hide" >
                    <ul class="nav_ul">
                        <li class="nav_li"><a href="{% url 'home' %}">Home</a></li>
                    {% if not request.user.is_authenticated %}
                        <li class="nav_li"><a href="{% url 'sign_up' %}">Sign up</a></li>
                        <li class="nav_li"><a href="{% url 'log_in' %}">Log in</a></li>
                    {% else %}
                        <li class="nav_li"><a href="{% url 'resources' %}">resources</a></li>
                        <li class="nav_li"><a href="{% url 'log_out' %}">Log out</a></li>
                    {% endif %}
                        <li class="nav_li"><a href="{% url 'about' %}">About</a></li>
                    </ul>

                </div>
            </div>
            <div class="circle">
                <div>
                    <h2>Eduflash</h2>
                    <h4>Learning made fun</h4>
                </div>
            </div>
        </div>
    </header>

    
    <div class="content">
        {% block hello %}
        {% endblock %}
        {% block catch %}
        <p id="con_p">Enjoy an active and fun way of learning with Eduflash <br>       to create flashcards <a class="solid_links" href="{% url 'upload_resource' %}">upload your file</a></p>
        {% endblock%}
        {% block content%}  
        {% endblock %}
    </div>
    

    <footer>
        <p><span>&copy;</span>2024 eduflash</p>
    </footer>
    <script type="text/javascript" src="{% static 'flash/script__.js' %}"></script>
</body>
</html>
