{% extends 'flash/main.html' %} 
{% block hello %}
    {% if request.user.is_authenticated %}
        <h3>Welcome {{ request.user }}</h3>
    {% endif %}
{% endblock %}
{% block content %}
    {% block flashcards %}
    {% endblock %}
    <div class="view">
        {% block resources %}
        {% if request.user.is_authenticated %}
            <h4>View your <a class="solid_links" href="{% url 'resources' %}">resources</a></h4>
        {% endif %}
        {% endblock %}
    </div>
{% endblock %}
